.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.header {
    width: 100%;
    position: absolute;
    height: 50px;
    padding: 20px 35px;
    z-index: 5;
}

.nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main {
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    height:100%;
    padding: 50px 0;
}

.galleryOptions {
    display: flex;
    margin: 30px 0;
    flex-wrap: wrap;
}

@keyframes circle1 {
    /* 0% {bottom: 17%; right: 3%}
    25% {bottom: 15%; right: 5%}
    50% {bottom: 13%; right: 6%}
    75% {bottom: 15%; right: 5%}
    100% {bottom: 17%; right: 3%} */
    0% {height: 250px; width: 250px}
    30% {height: 255px; width: 255px}
    50% {height: 260px; width: 260px}
    70% {height: 255px; width: 255px}
    100% {height: 250px; width: 250px}


}

.circle1 {
    z-index: -1;
    position: absolute;
    bottom: 15%;
    right: 5%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #60BCFF;
    opacity: 40%;
    animation-name: circle1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes circle2 {
    0% {bottom: 35%; right: 35%}
    25% {bottom: 34.5%; right: 34.5%}
    50% {bottom: 34%; right: 34%}
    75% {bottom: 34.5%; right: 34.5%}
    100% {bottom: 35%; right: 35%}
}

.circle2 {
    z-index: -1;
    position: absolute;
    bottom: 35%;
    right: 35%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: purple;
    opacity: 20%;
    animation-name: circle2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes circle3 {
    0% {height: 190px; width: 190px}
    30% {height: 195px; width: 195px}
    50% {height: 200px; width: 200px}
    70% {height: 195px; width: 195px}
    100% {height: 190px; width: 190px}


}

.circle3 {
    z-index: -1;
    position: absolute;
    bottom: 5%;
    right: 20%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: palevioletred;
    opacity: 50%;
    animation-name: circle3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}