html,
body {
	padding: 0;
	margin: 0;
	font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

input {
	margin: 5px 0;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #868686;
	height: 35px;
	padding: 0 10px;
	font-family: Open Sans, sans-serif;
}

input[type=submit] {
	border-radius: 10px;
	font-weight: 400;
	padding: 5px 30px;
	height: 35px;
	border: none;
	background-color: #60BCFF;
	color: white;
}
