.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.background {
    z-index: -1;
}

.header {
    width: 100%;
    position: absolute;
    height: 50px;
    padding: 20px 35px;
    z-index: 5;
}

.nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main,
.centerpiece {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title {
    margin: 0;
    line-height: 1.15;
    font-weight: 800;
    font-size: 72px;
}

.title,
.description {
    text-align: center;
}

.description {
    width: 50vw;
    line-height: 1.5;
    font-weight: 200;
    font-size: 18px;
}

.centerpiece {
    width: 80vw;
}

.textLoop {
    height: 80px;
}

.animatedText {
    width: 50vw;
    height: 80px;
    text-align: center;
    margin: 0;
    line-height: 1.15;
    font-weight: 800;
    font-size: 72px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .title, .animatedText {
        font-size: 50px;
    }

    .description, .animatedText {
        width: 90vw;
    }

    .textLoop, .animatedText {
        height: 60px;
    }

    .description {
        font-size: 15px;
    }
}