.controls {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: #F5F4F4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #7A7A7A;
}

.faIcon {
  cursor: pointer;
  font-size: 32px;
  margin: 0.4rem;
  padding: 0.4rem;
  z-index: 2;
}

.color, .erase {
  color: #7A7A7A;
}

.colorSelected {
  background-color: #C0BFBF;
  border-bottom: 1px solid #7A7A7A;
  color: #585858;
}

.eraseSelected {
  background-color: #C0BFBF;
  border-top: 1px solid #7A7A7A;
}