.option{
    position: relative;
    width: 200px;
    height: 200px;
    /* background-color: #60BCFF; */
    border: 1px solid #60BCFF;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.projectName {
    position: relative;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #000;
}
/* .option :hover {

} */

.button{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
  

}